@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-BlackIt.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-Black.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-Bold.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-BoldIt.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-BoldCondIt.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-BoldCondIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-BoldCond.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-BoldCond.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-BoldSemiCnIt.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-BoldSemiCnIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-BoldSemiCn.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-BoldSemiCn.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-CondIt.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-CondIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-Cond.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-Cond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-ExtraBold.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-It.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-ExtraBoldIt.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-ExtraBoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-Regular.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-LightIt.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-Medium.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-Light.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-SemiLightIt.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-SemiLightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-SemiCnIt.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-SemiCnIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-SemiLight.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-SemiLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/subset-AdobeClean-SemiCn.woff2') format('woff2'),
        url('fonts/subset-AdobeClean-SemiCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean 7pt';
    src: url('fonts/subset-AdobeClean7pt-BoldIt.woff2') format('woff2'),
        url('fonts/subset-AdobeClean7pt-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean 7pt';
    src: url('fonts/subset-AdobeClean7pt-Bold.woff2') format('woff2'),
        url('fonts/subset-AdobeClean7pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean 7pt';
    src: url('fonts/subset-AdobeClean7pt-It.woff2') format('woff2'),
        url('fonts/subset-AdobeClean7pt-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean 7pt';
    src: url('fonts/subset-AdobeClean7pt-Regular.woff2') format('woff2'),
        url('fonts/subset-AdobeClean7pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

